# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build/packaging
*.egg-info/
build/
dist/

# Tests/coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env

# Data/artefakter (ej i repo)
data/raw/
data/processed/

result/*.csv
result/*.tmp

logs/*
!logs/.gitkeep
